In [1]:
import numpy as np
import pandas as pd

In [2]:
!pip install xgboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.10/dist-packages (1.7.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.22.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.10.1)

In [3]:
df=pd.read_csv('Boston.csv')
df

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [5]:
X=df.iloc[:,1:df.shape[1]-1].values
y=df.iloc[:,-1].values

In [10]:
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

xgb=XGBRegressor()
rfr=RandomForestRegressor()
gbr=GradientBoostingRegressor()

In [11]:
from sklearn.model_selection import cross_val_score

In [12]:
print("XGB ",np.mean(cross_val_score(xgb,X,y,cv=10)))  #10 times do crossvalidation, get 10 r2 score so take mean of that
print("RFR ",np.mean(cross_val_score(rfr,X,y,cv=10)))
print("GBR ",np.mean(cross_val_score(gbr,X,y,cv=10)))

XGB  0.38458735937797534
RFR  0.48442191102422755
GBR  0.42818083368986865

In [13]:
#without tuning randomforest always outperform

In [32]:
#now we tune xgboost hyperparameters

xgb=XGBRegressor(eta=0.3, gamma=50, reg_lambda=10)

In [33]:
print("XGB ",np.mean(cross_val_score(xgb,X,y,cv=10))) #better than before

XGB  0.49364538339924413

In [38]:
#comparing speed

import time

xgb=XGBRegressor(eta=0.3, gamma=50, reg_lambda=10)
rfr=RandomForestRegressor()
gbr=GradientBoostingRegressor()

In [39]:
start=time.time()
print("XGB ",np.mean(cross_val_score(xgb,X,y,cv=10)))
print(time.time()-start)

XGB  0.49364538339924413
1.1437723636627197

In [40]:
time.time()
print("RFR ",np.mean(cross_val_score(rfr,X,y,cv=10)))
print(time.time()-start)

RFR  0.4915938572413328
5.07070255279541

In [41]:
time.time()
print("GBR ",np.mean(cross_val_score(gbr,X,y,cv=10)))
print(time.time()-start)

GBR  0.445251566449045
6.752683639526367